body {
  /* background-color: blue; */
}

#root {
  margin: 0 auto;
  text-align: center;
  display: flex;
}

#main {
  margin: auto;
  width: 50%;
}

.todos {
  margin: 0;
  padding: 0;
}

.todo {
  display: flex;
  gap: 0.5rem;
  padding: 0.3rem;
}

.title {
  margin-right: auto;
}

.todo-title {
  cursor: pointer;
}

.todo-completed .todo-title {
  text-decoration: line-through;
  color: lightgray;
}

.form-input {
  margin-bottom: 0.3rem;
  text-align: left;
}

.form-input input {
  width: 100%;
  display: block;
  text-align: left;
  padding: 0.2rem;
}

.form-input [type="radio"] {
  display: inline-block;
  width: unset;
}

.hidden {
  display: none;
}

.hide-detail-btn {
  font-size: 0.6rem;
}
